<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAUdt0Do_KReazbj6q1-yS1HAEeoYqUXU</string>
	<key>GCM_SENDER_ID</key>
	<string>593099494761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseExample</string>
	<key>PROJECT_ID</key>
	<string>emir-s-firebase-example</string>
	<key>STORAGE_BUCKET</key>
	<string>emir-s-firebase-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593099494761:ios:20a48cbc5d5086ef6d19f8</string>
</dict>
</plist>